.light {
    --background-color: white;
    --text-color: black; /* Text color for light theme */
    --button-color:chocolate;
    --h1-color:aquamarine;
}
  
  /* Dark Theme */
.dark {
    --background-color: black;
    --text-color: white; /* Text color for dark theme */
    --button-color:grey;
    --h1-color:darkblue;
}
.La{
    color: var(--text-color);
    margin-left:5vw;
    margin-right:5vw;
    margin-top:2vw;
    transition: background-color 0.3s, color 0.3s;
}

.La>li{
    font-size: 3vw;
    color: var(--h1-color);
}

.La>li{
    font-size: 2vw;
    font-weight: bold;
    color: var(--text-color);
}

.La>button{
    background-color: var(--button-color);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}